/*  your css code here. If applicable */
photo-heading {
	color: white;
}
img {
	width: 31%;
	padding: 5px;
	border-radius: 20px
}
.test {
	border-radius:10px;
	background-color: #444;
	padding: 20px;
}
